.node {
  width: 18px;
  height: 18px;
  border: 1px solid;
}

.start-node {
  background-color: green;
}

.finish-node {
  background-color: red;
}

.wall-node {
  background-color: black;
}

.to-visit-node {
  background-color: dodgerblue;
}

.visited-node {
  background-color: darkorange;
}

.current-node {
  background-color: goldenrod;
}
